@charset "utf-8"



a:visited {color: #a8a8a8;}
a:hover{
    color: #988564;
    font-weight: bold;
    text-decoration: none;
}
a img{transition: opacity 0.3s linear;}
a:hover img{opacity: 0.7;}

p{
    
    line-height: 1.6;
}
img {vertical-align: bottom;}
#main h1{
    background-image:url(../header_bg.jpg);
    
    font-size: 26px;
    border-bottom: 1px solid #8b7348;
}
#main h2{
    font-size: 22px;
    border: solid 1px #b7a077;
    
    border-radius: 5px;
}
#main h3{
    font-size: 18px;
    border-left:  solid 3px #b7a077;
   
}
header{
    width: 980px;
   
}
header h1{
    float: left;
   
}
header #header_contact{
    float: right; 
  
}
#global_navi{
    width: 980px;
    clear: both;
    overflow: hidden;
    
}
#global_navi ul{
    list-style:none;
  
}
#global_navi ul li{
    width: 195px;
    float: left;
   
    text-align: center;
}
#global_navi ul li a{
    display: block;
   
    background-color: #352b23;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s linear;
}
#global_navi ul li.current a{
    background-color: #b7a077;
}
#global_navi ul li a:hover{
    background-color: #8c7a5b;
}
#wrapper{
    width: 980px;
   
    overflow:hidden;
}
.main{
    width: 730;
    float: left;
}
.sidebar{
    width:220px;
    float: right;
    
}
.side_banner{
   
    overflow:hidden;
}
.side_banner h2{
    background-color: #716961;
    color: #fff;
   
    font-size: 14px;
    text-align: center;
}
.side_banner ul{
    list-style: none;
   
}

.side_contact{
    border:1px solid #b7a077;
    color:#7f7259;
    text-align: center;
}
.side_contact h2{
    background-color: #b7a077;
    color:#fff;
  
    font-size: 14px;
}

.side_contact address img{
    vertical-align: middle;
   
}
.side_contact p {
    display: inline-block;
    background: #f1ede4;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f1ede4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f1ede4 100%);
    background:linear-gradient(to bottom, #ffffff 0%, #f1ede4 100%);
    color: #b7a077;
   
    border: 1px solid #b7a077;
    border-radius: 5px;
    text-decoration: none;
}
.side_contact p:hover{
    background:#b7a077;
    background:-webkit-gradient(linear, left top, left bottom,color-stop(0%,#b7a077), color-stop(100%,#e2cda7));
    background:-webkit-linear-gradient(top, #b7a077 0%, #e2cda7 100%);
    background: linear-gradient(to bottom, #b7a077 0%, #e2cda7 100%);
    color: #fff;
}

.footer_nav{
    background-color: #efefef;
    
}
.footer_nav ul{
    list-style: none;
    
}
.footer_nav li{
    display: inline;
    border-left: solid 1px #aaa;
    
    font-size: smaller;
}
.footer_nav li:last-child{
    border-right: solid 1px #aaa;
    
}
.small{
    display: block;
    
    color: #fff;
}
#breadcrumb{font-size: smaller;}
#breadcrumb ol{
    list-style: none;
    
}
#breadcrumb ol li{display: inline;}
#breadcrumb ol li::after{
    content: ">";
   
}
#breadcrumb ol li:last-child::after{content: none;}

