.card-wrap{
    border: 1px solid black;
    width: 300px ;
}
.card-content {
    /* border: 1px solid red; */
    width: 90%;
    margin: 10px  auto 0px;
}

.card-content img {
    width: 100% ;
}

.title {
    font-weight: bold;
}

